.idea
.vs
GraphQLDemo.API/bin
GraphQLDemo.API/bin
GraphQLDemo.API/obj/rider.project.model.nuget.info
GraphQLDemo.API/obj/project.nuget.cache
GraphQLDemo.API/obj/project.assets.json
GraphQLDemo.API/obj/GraphQLDemo.API.csproj.nuget.g.props
GraphQLDemo.API/obj/GraphQLDemo.API.csproj.nuget.dgspec.json
GraphQLDemo.API/obj/Debug/net7.0/refint/GraphQLDemo.API.dll
GraphQLDemo.API/obj/Debug/net7.0/ref/GraphQLDemo.API.dll
GraphQLDemo.API/obj/Debug/net7.0/GraphQLDemo.API.sourcelink.json
GraphQLDemo.API/obj/Debug/net7.0/GraphQLDemo.API.pdb
GraphQLDemo.API/obj/Debug/net7.0/GraphQLDemo.API.dll
GraphQLDemo.API/obj/Debug/net7.0/GraphQLDemo.API.csproj.FileListAbsolute.txt
GraphQLDemo.API/obj/Debug/net7.0/GraphQLDemo.API.AssemblyInfoInputs.cache
GraphQLDemo.API/obj/Debug/net7.0/GraphQLDemo.API.AssemblyInfo.cs
GraphQLDemo.API/bin/Debug/net7.0/GraphQLDemo.API.pdb
GraphQLDemo.API/bin/Debug/net7.0/GraphQLDemo.API.dll
